<div class="{{#if labelPositionIsSide}} login__input-block-isSide {{else}} login__input-block {{/if}} >
		<label class=" login__label">{{label}}</label>
	<input {{#if disabled}} disabled={{disabled}} {{/if}}
		class="login login__input{{#if invalidPassword}} login__input-error{{/if}} " data-message="{{data-message}} 
		name=" {{name}}" type="{{type}}" value={{value}}>
	<label class="login__input-messageError">{{data-message}}</label>
</div>

//input classname - props