<div class = "button-container">
	<button class="button button__{{type}} {{#if text-underline }}  button__{{type}} && button__{{type}}__underline  {{/if}} {{#if data-message }} button__error {{/if}}
	"   >
   	 {{label}}
	</button>
	<label class="button__text-error">{{data-message}}</label>
</div>
